<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>PLANT HUB</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Add Chart.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      rel="stylesheet"
      media="all"
      href="{{ url_for('static', filename='owl.carousel.min.css')}}"
    />
    <link
      rel="stylesheet"
      media="all"
      href="{{ url_for('static', filename='tempusdominus-bootstrap-4.min.css')}}"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link
      rel="stylesheet"
      media="all"
      href="{{ url_for('static', filename='bootstrap.min.css')}}"
    />

    <!-- Template Stylesheet -->
    <link
      rel="stylesheet"
      media="all"
      href="{{ url_for('static', filename='style.css')}}"
    />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Sidebar Start -->
      <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
          <a href="/" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">
              <i class="fa fa-hashtag me-2"></i>PLANT HUB
            </h3>
          </a>
          <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
              <img
                class="rounded-circle"
                src="./static/admin.jpg"
                alt=""
                style="width: 40px; height: 40px"
              />
              <div
                class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"
              ></div>
            </div>
            <div class="ms-3">
              <h6 class="mb-0">An</h6>
              <span>Admin</span>
            </div>
          </div>
          <div class="navbar-nav w-100">
            <a href="/" class="nav-item nav-link"
              ><i class="fa fa-chart-bar me-2"></i>Charts</a
            >
          </div>
          <div class="navbar-nav w-100">
            <a href="/overview" class="nav-item nav-link active"
              ><i class="fa fa-tachometer-alt me-2"></i>Overview</a
            >
          </div>
          <div class="navbar-nav w-100">
            <a href="/control" class="nav-item nav-link"
              ><i class="fa fa-sliders-h me-2"></i>Control Panel</a
            >
          </div>
        </nav>
      </div>
    </div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">
      <!-- Average Reading Start -->
      <div class="container-fluid pt-4 px-3">
        <div class="row g-4">
          <div class="col-sm-6 col-xl-12">
            <div
              class="bg-light rounded d-flex flex-column align-items-center justify-content-center p-4"
            >
              <h3 class="mb-3">Average Reading in the Past Hour</h3>

              <div class="d-flex">
                <div class="col-sm-6 col-xl-3">
                  <div
                    class="bg-light rounded d-flex align-items-center justify-content-between p-4"
                  >
                    <i class="fa fa-temperature-high fa-3x text-primary"></i>
                    <div class="ms-3">
                      <p class="mb-2">Internal</p>
                      <h6 class="mb-0">
                        <span id="average-temperature-reading"></span>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div
                    class="bg-light rounded d-flex align-items-center justify-content-between p-4"
                  >
                    <i class="fa fa-temperature-high fa-3x text-primary"></i>
                    <div class="ms-3">
                      <p class="mb-2">External</p>
                      <h6 class="mb-0">
                        <span id="average-ex-temperature-reading"></span>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div
                    class="bg-light rounded d-flex align-items-center justify-content-between p-4"
                  >
                    <i class="fa fa-water fa-3x text-primary"></i>
                    <div class="ms-3">
                      <p class="mb-2">RH</p>
                      <h6 class="mb-0">
                        <span id="average-humidity-reading"></span>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div
                    class="bg-light rounded d-flex align-items-center justify-content-between p-4"
                  >
                    <i class="fa fa-water fa-3x text-primary"></i>
                    <div class="ms-3">
                      <p class="mb-2">Ex RH</p>
                      <h6 class="mb-0">
                        <span id="average-ex-humidity-reading"></span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid pt-4 px-3">
        <div class="row g-4">
          <div class="col-sm-6 col-xl-12">
            <div
              class="bg-light rounded d-flex flex-column align-items-center justify-content-center p-4"
            >
            <h3 class="mb-3">Latest readings (for water quality test only)</h3>
              <div class="d-flex">
                <div class="col-sm-6 col-xl-6">
                  <div
                    class="bg-light rounded d-flex align-items-center justify-content-between p-4"
                  >
                    <i class="fas fa-lemon fa-3x text-primary"></i>
                    <div class="ms-3">
                      <p class="mb-2">pH</p>
                      <h6 class="mb-0">
                        <span id="average-ph-reading"></span>
                      </h6>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-6">
                  <div
                    class="bg-light rounded d-flex align-items-center justify-content-between p-4"
                  >
                    <i class="fa solid fa-seedling fa-3x text-primary"></i>
                    <div class="ms-3">
                      <p class="mb-2">EC</p>
                      <h6 class="mb-0">
                        <span id="average-ec-reading"></span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

          <div class="text-center">
            <h6 class="mb-0 mx-5 pt-4">
              <button id ="testButton" class="btn btn-primary btn-state">Start Test</button>
            </h6>
          </div>


      <!-- Average Reading End -->
      <!-- To Do List Start-->
      <!-- <div class="col-sm-12 col-md-6 col-xl-4 mt-5 mx-4">
        <div class="h-100 bg-light rounded p-4">
          <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">To Do List</h6>
            <a href="">Show All</a>
          </div>
          <div class="d-flex mb-2">
            <input
              id="task-input"
              class="form-control bg-transparent"
              type="text"
              placeholder="Enter task"
            />
            <button
              type="button"
              class="btn btn-primary ms-2"
              onclick="addTask()"
            >
              Add
            </button>
          </div>
          <div id="task-list">
            <!-- Tasks will be added here dynamically -->
          </div>
        </div>
      </div> -->
      <!-- To Do List End -->
    </div>
    <!-- Content End -->

    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{{ url_for('static', filename='chart.min.js')}}"></script>
    <script src="{{ url_for('static', filename='easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename='moment-timezone.min.js')}}"></script>
    <script src="{{ url_for('static', filename='tempusdominus-bootstrap-4.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='main.js')}}"></script>
    <script src="{{ url_for('static', filename='overview.js')}}"></script>
  </body>
</html>
